.login-button{
    display: flex;
    justify-content: flex-end;
    margin:20px;
    cursor:pointer;
}

.nav-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list{
    display: flex;
    list-style-type: none;
}

.menu-list li{
    padding: 5px;
}

.menu-area{
    display: flex;
    justify-content: center;
}

.product-image{
    width: 300px;
    border-radius: 10px;
}

.card{
    background-color: rgb(255, 255, 255);
    transition: transform 0.2s linear;
    border-radius: 10px;
}

.card:hover{
    transform: scale(1.1);
}
